<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<title>RetailDash Admin</title>
<!-- STYLES -->
<!-- build:css lib/css/main.min.css -->
<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/AdminLTE.min.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/skin-blue.min.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/ui-grid.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
<!-- endbuild -->
<!-- SCRIPTS -->
<!-- build:js lib/js/main.min.js -->
<script type="text/javascript" src="/javascripts/jquery-2.2.3.min.js"></script>
<script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
<script type="text/javascript" src="/javascripts/app.min.js"></script>

<script type="text/javascript" src="/javascripts/angular/angular.js"></script>
<script type="text/javascript" src="/javascripts/angular/ui-bootstrap-tpls.js"></script>
<script type="text/javascript" src="/javascripts/angular/angular-cookies.js"></script>
<script type="text/javascript" src="/javascripts/angular/angular-ui-router.js"></script>
<script type="text/javascript" src="/javascripts/angular/app.js"></script>
<script type="text/javascript" src="/javascripts/angular/ui-grid.js"></script>
<script type="text/javascript" src="/javascripts/angular/routes.js"></script>
<script type="text/javascript" src="/javascripts/angular/controllers/alert-ctrl.js"></script>
<script type="text/javascript" src="/javascripts/angular/controllers/master-ctrl.js"></script>
<script type="text/javascript" src="/javascripts/angular/controllers/retailers-ctrl.js"></script>
<script type="text/javascript" src="/javascripts/angular/controllers/retaildashShippingOptions-ctrl.js"></script>
<script type="text/javascript" src="/javascripts/angular/controllers/retailerShippingOptions-ctrl.js"></script>
<script type="text/javascript" src="/javascripts/angular/controllers/shippingAddresses-ctrl.js"></script>
<!-- endbuild -->
<!-- Custom Scripts -->
<!-- <script type="text/javascript" src="/javascripts/dashboard.min.js"></script> -->