<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>RetailDash Admin</title>
<!-- STYLES -->
<!-- build:css lib/css/main.min.css -->
<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/rdash.min.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/ui-grid.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
<!-- endbuild -->
<!-- SCRIPTS -->
<!-- build:js lib/js/main.min.js -->
<script type="text/javascript" src="/javascripts/angular/angular.js"></script>
<script type="text/javascript" src="/javascripts/angular/ui-bootstrap-tpls.js"></script>
<script type="text/javascript" src="/javascripts/angular/angular-cookies.js"></script>
<script type="text/javascript" src="/javascripts/angular/angular-ui-router.js"></script>
<script type="text/javascript" src="/javascripts/angular/app.js"></script>
<script type="text/javascript" src="/javascripts/angular/ui-grid.js"></script>
<script type="text/javascript" src="/javascripts/angular/routes.js"></script>
<script type="text/javascript" src="/javascripts/angular/uiBreadcrumbs.js"></script>
<script type="text/javascript" src="/javascripts/angular/bsDropdown.min.js"></script>
<script type="text/javascript" src="/javascripts/angular/controllers/alert-ctrl.js"></script>
<script type="text/javascript" src="/javascripts/angular/controllers/master-ctrl.js"></script>
<script type="text/javascript" src="/javascripts/angular/controllers/retailers-ctrl.js"></script>
<script type="text/javascript" src="/javascripts/angular/controllers/retaildashShippingOptions-ctrl.js"></script>
<script type="text/javascript" src="/javascripts/angular/controllers/retailerLoginAccounts-ctrl.js"></script>
<script type="text/javascript" src="/javascripts/angular/controllers/retailerProductConfiguration-ctrl.js"></script>
<script type="text/javascript" src="/javascripts/angular/controllers/crawlFrequencyConfiguration-ctrl.js"></script>
<script type="text/javascript" src="/javascripts/angular/controllers/products-ctrl.js"></script>
<script type="text/javascript" src="/javascripts/angular/controllers/retailerShippingOptions-ctrl.js"></script>
<script type="text/javascript" src="/javascripts/angular/controllers/shippingAddresses-ctrl.js"></script>
<!-- endbuild -->
<!-- Custom Scripts -->
<!-- <script type="text/javascript" src="/javascripts/dashboard.min.js"></script> -->
