<div id="sidebar-wrapper">
  <ul class="sidebar" bs-active-link>
    <li class="sidebar-main">
      <a ng-click="toggleSidebar()">
        RetailDash
        <span class="menu-icon glyphicon glyphicon-transfer"></span>
      </a>
    </li>
    <li class="sidebar-list">
      <a href="#/retailers">Retailers<span class="menu-icon fa fa-table"></span></a>
    </li>
    <li class="sidebar-list">
      <a href="#/retailerProductConfigurations">RPC<span class="menu-icon fa fa-chain"></span></a>
    </li>
    <li class="sidebar-list">
      <a href="#/products">Products<span class="menu-icon fa fa-product-hunt"></span></a>
    </li>
    <li class="sidebar-list">
      <a href="#/shippingAddresses">Shipping Addresses<span class="menu-icon fa fa-tty"></span></a>
    </li>
    <li class="sidebar-list">
      <a href="#/retaildashShippingOptions">Retaildash Shipping<span class="menu-icon fa fa-ship"></span></a>
    </li>
    <li class="sidebar-list">
      <a href="#/retailerShippingOptions">Retailer Shipping<span class="menu-icon fa fa-shopping-bag"></span></a>
    </li>
    <li class="sidebar-list">
      <a href="#/crawlFrequencyConfigurations">Crawl Frequency<span class="menu-icon fa fa-clock-o"></span></a>
    </li>
    <li class="sidebar-list">
      <a href="#/retailerLoginAccounts">Login Accounts<span class="menu-icon fa fa-sun-o"></span> </a>
    </li>
  </ul>
  <div class="sidebar-footer">
    <div class="col-xs-4">
      <a href="#" target="_blank">
        ReatilDash
      </a>
    </div>
  </div>
</div>