<!doctype html>
<html lang="en" ng-app="RDash">
  <head>
    <% include partials/header %> <!-- Header -->
  </head>
  <body >
    <div ng-controller="MasterCtrl">
      <div id="page-wrapper" ng-class="{'open': toggle}" ng-cloak>
        <% include partials/sidebar %> <!-- Sidebar -->
        <div id="content-wrapper">
          <div class="page-content">
            <% include partials/headerbar %> <!-- Header Bar -->
            <div ui-view>
              <%- body %>
            <!-- </div> Main Content -->
            <!-- </div> Main Content -->
            </div> <!-- Main Content -->
          </div><!-- End Page Content -->
        </div><!-- End Content Wrapper -->
      </div><!-- End Page Wrapper -->
    </div>
  </body>
</html>
