<!doctype html>
<html lang="en" ng-app="RDash">
  <head>
    <% include partials/header %> <!-- Header -->
  </head>
  <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
      <% include partials/headerbar %> <!-- Header -->
      <% include partials/sidebar %> <!-- Header -->

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <div ui-view>
          <%- body %>
        </div>
      </div>
      <!-- /.content-wrapper -->

      <% include partials/footer %> <!-- Footer -->

      <!-- Add the sidebar's background. This div must be placed immediately after the control sidebar -->
      <div class="control-sidebar-bg"></div>
    </div>

  </body>
</html>
