
<div class="modal-header">
<button type="button" class="close" ng-click="close()">&times;</button>
<h3 class="modal-title">Product Details</h3>
</div>
<div class="modal-body">
  <!-- <div class="row">
    <div class="col-md-6">Retailer Product Configuration Id</div>
    <div class="col-md-6">{{productDetails.retailerProductConfigurationId}}</div>
  </div> -->
  <div class="row">
  <div class="col-md-6">Date</div>
    <div class="col-md-6">{{productDetails.date}}</div>
  </div>
  <div class="row">
    <div class="col-md-6">Day of Week</div>
    <div class="col-md-6">{{productDetails.dayOfTheWeek}}</div>
  </div>
  <!-- <div class="row">
    <div class="col-md-6">Retailer Id</div>
    <div class="col-md-6">{{productDetails.retailerId}}</div>
  </div> -->
  <div class="row">
    <div class="col-md-6">Retailer Name</div>
    <div class="col-md-6">{{productDetails.retailerName}}</div>
  </div>
  <div class="row">
    <div class="col-md-6">Brand</div>
    <div class="col-md-6">{{productDetails.brand}}</div>
  </div>
  <div class="row">
    <div class="col-md-6">Category</div>
    <div class="col-md-6">{{productDetails.category}}</div>
  </div>
  <div class="row">
    <div class="col-md-6">Model Number</div>
    <div class="col-md-6">{{productDetails.modelNumber}}</div>
  </div>
  <div class="row">
    <div class="col-md-6">Product Code</div>
    <div class="col-md-6">{{productDetails.productCode}}</div>
  </div>
  <div class="row">
    <div class="col-md-6">Sku Code</div>
    <div class="col-md-6">{{productDetails.skuCode}}</div>
  </div>
  <div class="row">
    <div class="col-md-6">Product Name</div>
    <div class="col-md-6">{{productDetails.productName}}</div>
  </div>
  <div class="row">
    <div class="col-md-6">Product Description</div>
    <div class="col-md-6">{{productDetails.productDescription}}</div>
  </div>
  <div class="row">
    <div class="col-md-6">Barcode</div>
    <div class="col-md-6">{{productDetails.barcode}}</div>
  </div>
  <div class="row">
    <div class="col-md-6">Color</div>
    <div class="col-md-6">{{productDetails.color}}</div>
  </div>
  <div class="row">
    <div class="col-md-6">Status</div>
    <div class="col-md-6">{{productDetails.status}}</div>
  </div>
  <div class="row">
    <div class="col-md-6">Size</div>
    <div class="col-md-6">{{productDetails.size}}</div>
  </div>
  <div class="row">
    <div class="col-md-6">Gender</div>
    <div class="col-md-6">{{productDetails.gender}}</div>
  </div>
  <div class="row">
    <div class="col-md-6">No. of Gears</div>
    <div class="col-md-6">{{productDetails.noOfGears}}</div>
  </div>
  <div class="row">
    <div class="col-md-6">Suspension</div>
    <div class="col-md-6">{{productDetails.suspension}}</div>
  </div>
  <div class="row">
    <div class="col-md-6">Image Url Thumbnail</div>
    <div class="col-md-6">{{productDetails.imageUrlThumbnail}}</div>
  </div>
  <div class="row">
    <div class="col-md-6">Image Url Preview</div>
    <div class="col-md-6">{{productDetails.imageUrlPreview}}</div>
  </div>
  <div class="row">
    <div class="col-md-6">Shopper Type</div>
    <div class="col-md-6">{{productDetails.shopperType}}</div>
  </div>
  <div class="row">
    <div class="col-md-6">Currency</div>
    <div class="col-md-6">{{productDetails.currency}}</div>
  </div>
  <div class="row">
    <div class="col-md-6">Original Price</div>
    <div class="col-md-6">{{productDetails.originalPrice}}</div>
  </div>
  <div class="row">
    <div class="col-md-6">Sale Price</div>
    <div class="col-md-6">{{productDetails.salePrice}}</div>
  </div>
  <div class="row">
    <div class="col-md-6">Shipping Zipcode</div>
    <div class="col-md-6">{{productDetails.shippingZipcode}}</div>
  </div>
  <div class="row">
    <div class="col-md-6">Shipping City</div>
    <div class="col-md-6">{{productDetails.shippingCity}}</div>
  </div>
  <div class="row">
    <div class="col-md-6">Shipping Country</div>
    <div class="col-md-6">{{productDetails.shippingCountry}}</div>
  </div>
  <div class="row">
    <div class="col-md-6">Shipping Option</div>
    <div class="col-md-6">{{productDetails.shippingOption}}</div>
  </div>
  <div class="row">
    <div class="col-md-6">Shipping Option Standardized</div>
    <div class="col-md-6">{{productDetails.shippingOptionStandardized}}</div>
  </div>
  <div class="row">
    <div class="col-md-6">Shipping Fee</div>
    <div class="col-md-6">{{productDetails.shippingFee}}</div>
  </div>
  <div class="row">
    <div class="col-md-6">Shipping ETA</div>
    <div class="col-md-6">{{productDetails.shippingETA}}</div>
  </div>
</div>