<div class="modal-header">
<button type="button" class="close" ng-click="close()">&times;</button>
<h3 class="modal-title">Enter Retailer Shipping Option Details</h3>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6"><span style="color:red">{{Response}}</span></div>
    <div class="col-md-3"></div>
  </div>
  <div class="row">
    <div class="col-md-6">Retailer Name<span class="required">*</span></div>
    <div class="col-md-6">
      <select ng-model="retailerShippingOption.retailerId" ng-change ="retailerData(retailerShippingOption.retailerId)" class="form-control">
        <option ng-repeat="x in retailerList" value = "{{x.id}}" >{{x.name}}</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">Retaildash Shipping Option Name<span class="required">*</span></div>
    <div class="col-md-6">
      <select ng-model="retailerShippingOption.retaildashShippingOptionId" class="form-control">
        <option ng-repeat="x in retailerShippingDetail" value="{{x.standardizedId}}">{{x.standardizedDescription}}</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">Name<span class="required">*</span></div>
    <div class="col-md-6"><input type="text" ng-model="retailerShippingOption.name"/></div>
  </div>
</div>
<div class="modal-footer">
<button class="btn btn-warning" type="submit" ng-click="CreateShippingOptionValue()">Save</button>
</div>