<div class="modal-header">
<button type="button" class="close" ng-click="close()">&times;</button>
<h3 class="modal-title">Enter Retailer Product Configuration Details</h3>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6"><span style="color:red">{{Response}}</span></div>
    <div class="col-md-3"></div>
  </div>
  <div class="row">
  <div class="col-md-6">Retailer Name<span class="required">*</span></div>
    <div class="col-md-6">
      <select ng-model="RetailerProductConfig.retailerId" ng-change ="retailerData(RetailerProductConfig.retailerId)" class="form-control">
        <option ng-repeat="x in retailerList" value = "{{x.id}}" >{{x.name}}</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">Url<span class="required">*</span></div>
    <div class="col-md-6"><input type="text" ng-model="RetailerProductConfig.url"/></div>
  </div>
  <div class="row">
    <div class="col-md-6">Url Type<span class="required">*</span></div>
    <div class="col-md-6">
      <select ng-model="RetailerProductConfig.urlType"  ng-change = "maxShow(RetailerProductConfig.urlType)" ng-options="item for item in Urltype" class="form-control" >
    </select>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">Keyword</div>
    <div class="col-md-6"><input type="text" ng-model="RetailerProductConfig.keyword"/></div>
  </div>
  <div class="row">
    <div class="col-md-6">Description</div>
    <div class="col-md-6"><input type="text" ng-model="RetailerProductConfig.description"/></div>
  </div>
  <div class="row">
    <div class="col-md-6">Active</div>
    <div class="col-md-6">
      <input type="radio" ng-model="RetailerProductConfig.active" ng-value="true" boolean-grid-model>  True &nbsp;
      <input type="radio" ng-model="RetailerProductConfig.active" ng-value="false" boolean-grid-model> False
    </div>
  </div>
  <div class="row" ng-show = "maxValue">
    <div class="col-md-6">Max Number of Records</div>
    <div class="col-md-6"> <input type="text" ng-model="RetailerProductConfig.maxNumberOfRecords"/></div>
  </div>
</div>
<div class="modal-footer">
<button class="btn btn-warning" type="button" ng-click="createRetailerProductConfig()">Save</button>
</div>