<div class="modal-header">
  <button type="button" class="close" ng-click="close()">&times;</button>
  <h3 class="modal-title">Retailer Details</h3>
</div>
<div class="modal-body">
  <!-- <div class="row">
    <div class="col-md-4">ID</div>
    <div class="col-md-8">{{retailerInfo.id}}</div>
  </div> -->
  <div class="row">
    <div class="col-md-4">name</div>
    <div class="col-md-8"><a href="{{retailerInfo.baseUrl}}" target="_blank">{{retailerInfo.name}}</a></div>
  </div>
  <div class="row">
    <div class="col-md-4">Currency</div>
    <div class="col-md-8">{{retailerInfo.currency}}</div>
  </div>
  <div class="row">
    <div class="col-md-4">Active</div>
    <div class="col-md-8">{{retailerInfo.active}}</div>
  </div>
  <div class="panel-group ">
  <div class="panel panel-info ng-scope">
  <div class="panel-heading">
  <div class="row">
    <div class= "col-md-4">Day of Week</div>
    <div class= "col-md-4">Hour</div>
    <div class= "col-md-4">Minute</div>
  </div>
  </div>
  <div class="panel-body">
  <div class="row">
    <div class= "col-md-4">{{retailerInfo.crawlDays}}</div>
    <div class= "col-md-4" ><div ng-repeat="(key, val) in time_hours">
    {{val}}
    </div>
    </div>
    <div class= "col-md-4"><div  ng-repeat="(key, val) in time_munite">{{val}}</div></div>
  </div>
  </div>
  </div>
  <h3 class="modal-title">Retailer Shipping Options</h3>
  <br/>
  <div class="panel-group">
    <div class="panel panel-info" ng-repeat="retailerShippingOption in retailerInfo.shippingOptions">
      <div class="panel-heading">Shipping Option {{$index+1}}</div>
      <div class="panel-body panel-body-content">
        <!-- <div class="row">
          <div class="col-md-4">Shipping Option ID</div>
          <div class="col-md-8">{{retailerShippingOption.id}}</div>
        </div> -->
        <div class="row row-odd">
          <div class="col-md-4">Retailer Shipping Option</div>
          <div class="col-md-8">{{retailerShippingOption.description}}</div>
        </div>
        <div class="row row-even">
          <div class="col-md-4">Retaildash Shipping Option</div>
          <div class="col-md-8">{{retailerShippingOption.standardizedDescription}}</div>
        </div>
        <!-- <div class="row">
          <div class="col-md-4">Standardized Id</div>
          <div class="col-md-8">{{retailerShippingOption.standardizedId}}</div>
        </div> -->
      </div>
    </div>
  </div>
  <h3 class="modal-title">Retailer Product Configuration Details</h3>
  <br/>
  <div class="panel-group">
    <div class="panel panel-info" ng-repeat="productConfig in retailerInfo.products">
      <div class="panel-heading">RPC {{$index+1}}</div>
      <div class="panel-body panel-body-content">
        <!-- <div class="row">
          <div class="col-md-4">Product ID</div>
          <div class="col-md-8">{{productConfig.id}}</div>
        </div> -->
        <div class="row row-odd">
          <div class="col-md-4">Url</div>
          <div class="col-md-8"><a href="{{productConfig.url}}" target="_blank">{{productConfig.url}}</a></div>
        </div>
        <div class="row row-even">
          <div class="col-md-4">Url Type</div>
          <div class="col-md-8">{{productConfig.urlType}}</div>
        </div>
        <div class="row row-odd">
          <div class="col-md-4">Active</div>
          <div class="col-md-8">{{productConfig.active}}</div>
        </div>
        <div class="row row-even">
          <div class="col-md-4">Description</div>
          <div class="col-md-8">{{productConfig.description}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
