<div class="modal-header">
<button type="button" class="close" ng-click="close()">&times;</button>
<h3 class="modal-title">Retailer Shipping Option Detail</h3>
</div>
<div class="modal-body modal-body-content">
  <div class="row row-odd">
    <div class="col-md-6">Name</div>
    <div class="col-md-6">{{retailerShippingOption.name}}</div>
  </div>
  <div class="row row-even">
    <div class="col-md-6">Retailer Name</div>
    <div class="col-md-6">
    {{retailerShippingOption.retailerName}}</div>
  </div>
  <div class="row row-odd">
    <div class="col-md-6">Retaildash Shipping Option Name</div>
    <div class="col-md-6">{{retailerShippingOption.retaildashShippingOptionName}}</div>
  </div>
</div>