<div class="modal-header">
<button type="button" class="close" ng-click="close()">&times;</button>
<h3 class="modal-title">Enter Retailer Shipping Option Details</h3>
</div>
<div class="modal-body">
<table style="width:100%">
  <tr>
    <td>RetailerId</td>
    <td><input type="text" ng-model="retailerShippingOption.retailerId"/></td>
  </tr>
  <tr>
    <td>RetaildashShippingOptionId</td>
    <td><input type="text" ng-model="retailerShippingOption.retaildashShippingOptionId"/></td>
  </tr>
  <tr>
    <td>Name</td>
    <td><input type="text" ng-model="retailerShippingOption.name"/></td>
  </tr>
  <tr>
    <td>RetailerName</td>
    <td><input type="text" ng-model="retailerShippingOption.retailerName"/></td>
  </tr>
  <tr>
  <tr>
    <td>RetaildashShippingOptionName</td>
    <td><input type="text" ng-model="retailerShippingOption.retaildashShippingOptionName"/></td>
  </tr>
</table>
</div>
<div class="modal-footer">
<button class="btn btn-warning" type="button" ng-click="CreateShippingOptionValue()">Save</button>
</div>