<div>
<div class="addButton">
  <button type="button" class="btn btn-info btn-success" ng-click="addRow()">create</button>
</div>
<div class="grid" ui-grid="gridOptions"></div>
</div>
<!-- <div class="row alerts-container" data-ng-controller="RetailerShippingOptions" ></div>

<ul>
   <li ng-repeat="d in Details">
     {{ d.id + ', ' + d.retailerId + ', ' + d.retaildashShippingOptionId + ',' + d.name + ',' + d.retailerName + ',' + d.retaildashShippingOptionName}}
   </li>
</ul>
<p ng-bind="ResponseDetails"></p>
    {{ResponseDetails}} -->