<div class="modal-header">
<button type="button" class="close" ng-click="close()">&times;</button>
<h3 class="modal-title">Enter Retaildash Shipping Option Details</h3>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6"><span style="color:red">{{Response}}</span></div>
    <div class="col-md-3"></div>
  </div>
  <div class="row">
    <div class="col-md-6">Name<span class="required">*</span></div>
    <div class="col-md-6"><input type="text" ng-model="retaildashShippingOptionName"></div>
  </div>
</div>
<div class="modal-footer">
<button class="btn btn-warning" type="button" ng-click="createRetaildashShippingOption()">Save</button>
</div>