<div class="modal-header">
<button type="button" class="close" ng-click="close()">&times;</button>
<h3 class="modal-title">Retailer Product Configuration Details</h3>
</div>
<div class="modal-body">
<table style="width:100%">
  <tr>
    <td>ID</td>
    <td>{{retailerProductConfigInfo.id}}</td>
  </tr>
  <tr>
    <td>Keyword</td>
    <td>{{retailerProductConfigInfo.keyword}}</td>
  </tr>
  <tr>
    <td>Description</td>
    <td>{{retailerProductConfigInfo.description}}</td>
  </tr>
  <tr>
    <td>Url</td>
    <td>{{retailerProductConfigInfo.url}}</td>
  </tr>
  <tr>
    <td>Url Type</td>
    <td>{{retailerProductConfigInfo.urlType}}</td>
  </tr>
  <tr>
    <td>Active</td>
    <td>{{retailerProductConfigInfo.active}}</td>
  </tr>
  <tr>
    <td>Max No. of Records</td>
    <td>{{retailerProductConfigInfo.maxNumberOfRecords}}</td>
  </tr>
  <tr>
    <td>Retailer Name</td>
    <td>{{retailerProductConfigInfo.retailerName}}</td>
  </tr>
  <tr>
    <td>Spider Name</td>
    <td>{{retailerProductConfigInfo.spiderName}}</td>
  </tr>
</table>
</div>
