<div class="modal-header">
<button type="button" class="close" ng-click="close()">&times;</button>
<h3 class="modal-title">Retailer Shipping Option Detail</h3>
</div>
<div class="modal-body">
<table style="width:100%">
  <tr>
    <td>Name</td>
    <td>{{retailerShippingOption.name}}</td>
  </tr>
  <tr>
    <td>RetailerName</td>
    <td>
    {{retailerShippingOption.retailerName}}</td>
  </tr>
  <tr>
  <tr>
    <td>RetaildashShippingOptionName</td>
    <td>{{retailerShippingOption.retaildashShippingOptionName}}</td>
  </tr>
</table>
</div>