<div class = "ng-scope ng-binding" data-ng-controller="RetailerShippingOptions">
  <h3>Retailer Shipping Options Details</h3>
    <div class="row">
      <div class = "col-lg-6 col-md-6 col-sm-6">
        Name
      </div>
      <div class = "col-lg-6 col-md-6 col-sm-6">
        {{row.name}}
      </div>
    </div>
    <div class="row">
      <div class = "col-lg-6 col-md-6 col-sm-6">
        RetailerName
      </div>
      <div class = "col-lg-6 col-md-6 col-sm-6">
        {{row.retailerName}}
      </div>
    </div>
    <div class="row">
      <div class = "col-lg-6 col-md-6 col-sm-6">
        RetaildashShippingOptionName
      </div>
      <div class = "col-lg-6 col-md-6 col-sm-6">
        {{row.retaildashShippingOptionName}}
      </div>
    </div>
</div>

<script>
function TodoController($scope) {
  console.log($scope)
}
</script>