<div class = "ng-scope ng-binding" data-ng-controller="ShippingAddresses">
  <h3>Shipping Address</h3>
    <!-- {{rowship}} -->
    <div class="row">
      <div class = "col-lg-6 col-md-6 col-sm-6">
        Address1
      </div>
      <div class = "col-lg-6 col-md-6 col-sm-6">
        {{rowship.address1}}
      </div>
    </div>
    <div class="row">
      <div class = "col-lg-6 col-md-6 col-sm-6">
        Address2
      </div>
      <div class = "col-lg-6 col-md-6 col-sm-6">
        {{rowship.address2}}
      </div>
    </div>
    <div class="row">
      <div class = "col-lg-6 col-md-6 col-sm-6">
        City
      </div>
      <div class = "col-lg-6 col-md-6 col-sm-6">
        {{rowship.city}}
      </div>
    </div>
    <div class="row">
      <div class = "col-lg-6 col-md-6 col-sm-6">
        State
      </div>
      <div class = "col-lg-6 col-md-6 col-sm-6">
        {{rowship.state}}
      </div>
    </div>
    <div class="row">
      <div class = "col-lg-6 col-md-6 col-sm-6">
        Country
      </div>
      <div class = "col-lg-6 col-md-6 col-sm-6">
        {{rowship.country}}
      </div>
    </div>
    <div class="row">
      <div class = "col-lg-6 col-md-6 col-sm-6">
        zipCode
      </div>
      <div class = "col-lg-6 col-md-6 col-sm-6">
        {{rowship.zipCode}}
      </div>
    </div>
</div>

<!-- <script>
function TodoController($scope) {
  console.log($scope)
}
</script> -->