<div class="modal-header">
<button type="button" class="close" ng-click="close()">&times;</button>
<h3 class="modal-title">Shipping Address Detail</h3>
</div>
<div class="modal-body">
<table style="width:100%">
  <tr>
    <td>Address1</td>
    <td>{{shippingAddress.address1}}</td>
  </tr>
  <tr>
    <td>Address2</td>
    <td>
    {{shippingAddress.address2}}</td>
  </tr>
  <tr>
  <tr>
    <td>City</td>
    <td>{{shippingAddress.city}}</td>
  </tr>
  <tr>
    <td>State</td>
    <td>{{shippingAddress.state}}</td>
  </tr>
  <tr>
    <td>Country</td>
    <td>{{shippingAddress.country}}</td>
  </tr>
  <tr>
    <td>ZipCode</td>
    <td>{{shippingAddress.zipCode}}</td>
  </tr>
</table>
</div>