<div class="modal-header">
<button type="button" class="close" ng-click="close()">&times;</button>
<h3 class="modal-title">Shipping Address Detail</h3>
</div>
<div class="modal-body modal-body-content">
  <div class="row row-odd">
    <div class="col-md-6">Retailer Name</div>
    <div class="col-md-6">{{shippingRetailer.name}}</div>
  </div>
  <div class="row row-even">
    <div class="col-md-6">Address1</div>
    <div class="col-md-6">{{shippingAddress.address1}}</div>
  </div>
  <div class="row row-odd">
    <div class="col-md-6">Address2</div>
    <div class="col-md-6">
    {{shippingAddress.address2}}</div>
  </div>
  <div class="row row-even">
    <div class="col-md-6">City</div>
    <div class="col-md-6">{{shippingAddress.city}}</div>
  </div>
  <div class="row row-odd">
    <div class="col-md-6">State</div>
    <div class="col-md-6">{{shippingAddress.state}}</div>
  </div>
  <div class="row row-even">
    <div class="col-md-6">Country</div>
    <div class="col-md-6">{{shippingAddress.country}}</div>
  </div>
  <div class="row row-odd">
    <div class="col-md-6">ZipCode</div>
    <div class="col-md-6">{{shippingAddress.zipCode}}</div>
  </div>
</div>