
.grid {
    border: 2px solid rgb(212,212,212);
    width: 100%;
    height: 400px
}

.tooltip {
    position: relative;
    display: inline-block;
    visibility: visible;

}

.tooltiptext {
    visibility: hidden;
    width: 400px;
    background-color: #EFFBE2;
    color: #6F9B3F;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

table, th, td {
    border: 1px solid rgb(212,212,212);
    border-collapse: collapse;

}
th, td {
  padding: 5px;
}
h2 {
  color: #3A5479
}
.add-button {
    text-align: right;
}
.required{
      color:#EE5353;
}
.delete-icon {
    color:#EE5353;
}
.edit-icon {
    color: #FF9900;
}
.view-icon {
    color: #0A66F5;
}
.panel-info {
  border-color: #30426a;
}
.panel-info > .panel-heading {
  color: #b2bfdc;
  background-color: #30426a;
  border-color: #30426a;
}
.panel-info > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #30426a;
}
.panel-info > .panel-heading .badge {
  color: #d9edf7;
  background-color: #31708f;
}
.panel-info > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #30426a;
}
.row-odd {
  background-color:#ffffff;
  padding:5px 0 0 0;
}
.row-even {
  background-color:#f3f3f3;
  padding:5px 0 0 0;
}
.panel-body-content {
  padding: 8px 0 0 0;
}
.modal-body-content {
  padding: 0 0 0 0;
}
.ui-grid-cell-contents {
    padding: 5px 5px 5px 10px;
}
.active {
    background-color : #001a33;
}
.a-under-line {
  text-decoration : none;
}
.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #fff;
    border-radius: 4px;
}
